<nav class="sidebar-nav">
  <div class="sidebar-content">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" [routerLink]="['/users']">
          <i class="fa-solid fa-user"></i>
          Usuarios
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" [routerLink]="['/movies']">
          <i class="fa-solid fa-film"></i>
          Películas
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" [routerLink]="['/showtimes']">
          <i class="fa-solid fa-camera"></i>
          Funciones
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" [routerLink]="['/rooms']">
          <i class="fa-solid fa-house"></i>
          Salas
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" [routerLink]="['/comida']">
          <i class="fa-solid fa-utensils"></i>
          Comidas
        </a>
      </li>
    </ul>
  </div>
</nav>