<div class="row row-cols-1 row-cols-md-3 g-4 m-2">
  <div class="col" *ngFor="let movie of movies">
    <a
      [routerLink]="['/showtimes', movie.idPelicula]"
      class="card-link"
      style="text-decoration: none"
    >
      <div class="card">
        <img
          src="{{ movie.thumbnail }}"
          class="card-img-top"
          alt="{{ movie.nombrePelicula }}"
          height="450px"
        />
        <div class="card-body">
          <h5 class="card-title">{{ movie.nombrePelicula }}</h5>
          <p class="card-text">
            {{ movie.sinopsisPelicula | slice : 0 : 300 }}...
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
