.main-container {
  display: flex;
  min-height: calc(100vh - 56px);
}

.sidebar {
  width: 250px;
  flex-shrink: 0;
  height: calc(100vh - 56px);
  overflow-y: auto;
  position: fixed;
  left: 0;
}

.content {
  flex-grow: 1;
  margin-left: 250px;
  padding: 20px;
  overflow-y: auto;
}

