<div class="d-flex justify-content-center">
    <div class="col-md-9">
        <h5 class="mt-2">Usuarios</h5>
        <table class="table mt-5">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Correo electrónico</th>
                <th scope="col">Fecha de creación</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>{{ 'mark@gmail.com' }}</td>
                <td>1/11/2024</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>{{ 'jacob@gmail.com' }}</td>
                <td>1/11/2024</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>{{ 'larry@gmail.com' }}</td>
                <td>1/11/2024</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>{{ 'jacob@gmail.com' }}</td>
                <td>1/11/2024</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>{{ 'larry@gmail.com' }}</td>
                <td>1/11/2024</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>{{ 'thorn@gmail.com' }}</td>
                <td>1/11/2024</td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>Louis</td>
                <td>the Bird</td>
                <td>{{ 'louis@gmail.com' }}</td>
                <td>1/11/2024</td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>{{ 'jb@gmail.com' }}</td>
                <td>1/11/2024</td>
              </tr>
              <tr>
                <th scope="row">9</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>{{ 'bird@gmail.com' }}</td>
                <td>1/11/2024</td>
              </tr>
              <tr>
                <th scope="row">10</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>{{ 'jacob34@gmail.com' }}</td>
                <td>1/11/2024</td>
              </tr>
              <tr>
                <th scope="row">11</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>{{ 'larry123@gmail.com' }}</td>
                <td>1/11/2024</td>
              </tr>
              <tr>
                <th scope="row">12</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>{{ 'jacob23@gmail.com' }}</td>
                <td>1/11/2024</td>
              </tr>
              <tr>
                <th scope="row">13</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>{{ 'bird90@gmail.com' }}</td>
                <td>1/11/2024</td>
              </tr>
            </tbody>
          </table>          
    </div>
</div>
