<div >
    <div class="row row-cols-2 row-cols-md-4 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="suzume.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Suzume no Tojimari</h5>
              <p class="card-text">Un viaje mágico a través de un mundo lleno de puertas misteriosas, donde una joven descubre su propia fuerza y valentía. </p>
            </div>
        </div>
    </div>
    <div class="col">
          <div class="card h-100">
            <img src="coraline.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Coraline</h5>
              <p class="card-text">Una niña curiosa encuentra un mundo alternativo que parece perfecto, pero oculta oscuros secretos que amenazan su vida y la de su familia.</p>
            </div>
          </div>
        </div>
    <div class="col">
          <div class="card h-100">
            <img src="castillo.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">El Castillo Vagabundo de Howl</h5>
              <p class="card-text">Sophie, una joven transformada en anciana por una bruja, se embarca en una aventura mágica con Howl, un mago excéntrico, mientras enfrentan fuerzas oscuras y descubren el poder del amor y la valentía.</p>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card h-100">
          <img src="Haikyu.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Haikyuu!!</h5>
            <p class="card-text">La historia de un joven voleibolista que, a pesar de su corta estatura, sueña con ser el mejor jugador, enfrentándose a adversidades y forjando fuertes amistades.</p>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
          <img src="kimetsu.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Kimetsu no Yaiba</h5>
            <p class="card-text"> Un joven luchador se convierte en cazador de demonios después de que su familia es asesinada, buscando salvar a su hermana y vengar a su familia.</p>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
          <img src="sustancia.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">La Sustancia</h5>
            <p class="card-text">Un grupo de jóvenes se enfrenta a los efectos devastadores de una nueva droga que altera la realidad, explorando temas de amistad, desilusión y la lucha por escapar de un mundo en crisis.</p>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
          <img src="chihiro.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">El Viaje de Chihiro</h5>
            <p class="card-text">Una niña se encuentra atrapada en un mundo espiritual y debe encontrar el camino de regreso a casa, enfrentando desafíos y haciendo nuevos amigos.</p>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
          <img src="mononoke.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">La Princesa Mononoke</h5>
            <p class="card-text">Una épica batalla entre la naturaleza y la industria, donde un joven guerrero se convierte en mediador entre humanos y espíritus del bosque.</p>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
          <img src="belle.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Belle</h5>
            <p class="card-text">Una conmovedora historia sobre la búsqueda de la conexión humana en un mundo digital, explorando el amor y la amistad a través de una emocionante narrativa.</p>
          </div>
        </div>
    </div>
    
    
      
</div>