<div class="d-flex justify-content-center">
  <div class="col-md-9">
    <h5 class="mt-2">Cines</h5>
    <button class="btn btn-primary mt-4 add-cine-icon" (click)="openCineForm()">
      <i class="bi bi-building-plus"></i>
    </button>

    @if (isCineFormOpen) {
    <div class="overlay">
      <div class="cine-form-container" (click)="$event.stopPropagation()">
        <form (ngSubmit)="addCine()">
          <div class="form-group">
            <label for="nombreCine">Nombre</label>
            <input
              type="text"
              id="nombreCine"
              class="form-control"
              [(ngModel)]="newCine.nombreCine"
              name="nombreCine"
              required
            />
          </div>
          <div class="form-group">
            <label for="direccionCine">Dirección</label>
            <input
              type="text"
              id="direccionCine"
              class="form-control"
              [(ngModel)]="newCine.direccionCine"
              name="direccionCine"
              required
            />
          </div>
          <div class="form-group">
            <label for="telefonoCine">Teléfono</label>
            <input
              type="text"
              id="telefonoCine"
              class="form-control"
              [(ngModel)]="newCine.telefonoCine"
              name="telefonoCine"
              required
            />
          </div>
          <div class="d-flex justify-content-evenly mb-3">
            <button type="submit" class="btn btn-success mt-3 add-cine-icon">
              Crear Cine
            </button>
            <button
              type="button"
              class="btn btn-secondary mt-3 cancel-button"
              (click)="closeCineForm()"
            >
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>

    } @if (errorMessage) {
    <div class="alert alert-danger mt-2">
      {{ errorMessage }}
    </div>

    } @if (successMessage) {
    <div class="alert alert-success mt-2">
      {{ successMessage }}
    </div>
    }
    <table class="table mt-4">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Dirección</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (cine of cines; track cine.idCine; let i = $index) {
        <tr>
          <th scope="row">{{ (page - 1) * pageSize + i + 1 }}</th>
          <td>
            @if (selectedCine.idCine === cine.idCine) {
            <input
              type="text"
              class="form-control"
              [(ngModel)]="selectedCine.nombreCine"
            />
            } @else {
            {{ cine.nombreCine }}
            }
          </td>
          <td>
            @if (selectedCine.idCine === cine.idCine) {
            <input
              type="text"
              class="form-control"
              [(ngModel)]="selectedCine.direccionCine"
            />
            } @else {
            {{ cine.direccionCine }}
            }
          </td>
          <td>
            @if (selectedCine.idCine === cine.idCine) {
            <input
              type="text"
              class="form-control"
              [(ngModel)]="selectedCine.telefonoCine"
            />
            } @else {
            {{ cine.telefonoCine }}
            }
          </td>
          <td>
            @if (selectedCine.idCine === cine.idCine) {
            <button
              class="btn btn-sm btn-success me-2"
              (click)="saveChanges(selectedCine)"
            >
              <i class="bi bi-check"></i>
            </button>
            <button
              class="btn btn-sm btn-secondary"
              (click)="selectedCine = {}"
            >
              <i class="bi bi-x"></i>
            </button>
            } @else {
            <button
              class="btn btn-sm btn-primary me-2"
              (click)="editCine(cine)"
              [ngClass]="{
                'edit-icon-inactive': selectedCine.idCine !== cine.idCine,
                'edit-icon-active': selectedCine.idCine === cine.idCine
              }"
            >
              <i class="bi bi-pencil"></i>
            </button>
            <button
              class="btn btn-sm btn-danger"
              (click)="deleteCine(cine.idCine)"
            >
              <i class="bi bi-trash"></i>
            </button>
            }
          </td>
        </tr>
        } @empty {
        <tr>
          <td colspan="5" class="text-center">No hay cines disponibles</td>
        </tr>
        }
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalCines"
        [(page)]="page"
        [pageSize]="pageSize"
        (pageChange)="onPageChange($event)"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
      >
      </ngb-pagination>
    </div>
  </div>
</div>
